@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=UoqMunThenKhung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
body{
   background-image:linear-gradient(rgb(68, 68, 203) , rgb(135, 135, 237) , rgb(162, 162, 249))
}
.select1,.select2,.select3,.select4{
    border: 1px solid black;
    text-align: center;
    background-color: green;
    color: black;
    zoom: 3;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}
h1{
    text-align: center;
    
}
.choose,.colors,.text,.fav-color{
    text-align: center;
}
.selectors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px;
    align-items: center;
    

}

.colors{
    border: 1px solid black;
    width: 100px;
    margin-left: 310px;
    zoom: 2;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
    
.r,.R{
    background-color: red;
}
.b,.B{
    background-color: blue;
}
.y,.Y{
    background-color: yellow;
}
.p,.P{
    background-color: pink;
}
.w,.W{
    background-color: white;
}
.bl,.BL{
    background-color: green;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  
    
}
.choose{
    margin-bottom: 20px;
   font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
  
    color: chocolate;
}
.text{
    margin-top: 50px;
      font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
    color: rgb(188, 10, 114);
    font-size: 25px;
}
.option1,.option2,.option3,.option4{
    display: inline-block;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    padding: 0 10px;
    border-radius: 5px;

}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-right: 30px;
    
}
.fav-color{
    margin-top: 30px;
    font-size: 25px;
    margin-bottom: 50px;
      font-family: "UoqMunThenKhung", serif;
  font-weight: 400;
  font-style: normal;
    color: orangered;
}
.submit{
   
    margin-top: 30px;
  position: relative;
  left: 680px;
  border: 1px solid black;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: rgb(28, 28, 109);
    font-weight: bolder;
    font-family: serif;
    font-size: 20px;
    color: white;
}
.submit:hover{
    background-color: rgb(60, 60, 141);
}
.option1{
    margin-left: 5px;
}
.fav{
    border: 1px solid black;
    
    text-align: center;
}
.yy{
    color: rgb(253, 87, 87);
    font-weight: bold;
    text-decoration: underline;

}
.nn{
    color:rgb(119, 90, 3);
    font-weight: bold;
    text-decoration: underline;
}
.select2{
    width: 70px;
}
.select11,.select22,.select33,.select44{
    font-weight: bold;
}
.yes,.no{
    margin-top: 10px;
    
}